@import '$lib/common.css';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: rgba(211, 211, 211, 0.212);
}

.code-area {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.new-button {
  padding: 1rem;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
}

.loading {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading p {
  font-size: 2rem;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-name: loadingAnim;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loadingAnim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}